<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OBE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/obe.png" rel="icon">
  <!-- <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top " style="background-color:rgba(55,81,126, 0.9);">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">SKMV</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/logout">Logout</a></li>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<body>
    <!-- ======= Team Section ======= -->
  <!-- ======= hiii ======= -->
    <section id="team" class="team section-bg" style="margin-top: 50px; background-color: white;">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Actions</h2>
            <p></p>
          </div>
          
          <div class="row">
              
              <div class="col-lg-6 mt-4">
                <a href="/fun/user">
              <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
                <div class="member-info">
                  <h4>User Edit</h4>
                  <span>Manage the Users </span>
                </div>
              </div>
            </a>
            </div>


            <div class="col-lg-6 mt-4" >
                <a href="/adminhome">
              <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400" >
                <div class="member-info">
                  <h4>PO Edit</h4>
                  <span>Manage the PO's</span>
                </div>
              </div>
            </a>
            </div>

            <div class="col-lg-6 mt-4" >
              <a href="/fun/notification">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400" >
              <div class="member-info">
                <h4>Notifications</h4>
                <span>Manage the Notification</span>
              </div>
            </div>
          </a>
          </div>
  
          <!-- </div>
          
          <div class="row"> -->
  
          </div>
  


        </div>
      </section><!-- End Team Section -->
    

      <center>
        <footer style="margin-top: 260px; margin-bottom: 66px">Copyright &#169; : All Rights Reserved</footer>
      </center>
    
      <div id="preloader"></div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/yt.js"></script>
      <!-- Vendor JS Files -->
      <script src="/static/vendor/aos/aos.js"></script>
      <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="/static/vendor/waypoints/noframework.waypoints.js"></script>
      <script src="/static/vendor/php-email-form/validate.js"></script>
    
      <!-- Template Main JS File -->
      <script src="/static/js/main.js"></script>
    
    </body>
    
    </html>
