<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OBE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/obe.png" rel="icon">
  <!-- <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v4.9.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Advantages</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <!--  <p>
              OBE In Education: Measure And Map CO, PO, PSO.
            </p> -->
          <ul>
            <li><i class="ri-check-double-line"></i>Teaching will be able to be more creative and innovative with
              regards to curriculum development</li>
            <li><i class="ri-check-double-line"></i> Faculty will no longer feel the pressure of having to be the source
              of information</li>
            <li><i class="ri-check-double-line"></i> Faculty will be able to assess students better and grade properly
            </li>
            <li><i class="ri-check-double-line"></i> Advance students performance and tracking tool</li>
            <li><i class="ri-check-double-line"></i> Teachers will be able to create and allot courses and assignments
              for students online</li>
            <li><i class="ri-check-double-line"></i> The software allows students to make presentations, attend tests
              and assignments, and learn through LMS</li>
            <li><i class="ri-check-double-line"></i> The instructor can set up the threshold value to the
              program/curriculum</li>
            <li><i class="ri-check-double-line"></i> This level of outcomes mapping focuses on student learning and
              allows faculty to create a visual map of a program</li>
            <li><i class="ri-check-double-line"></i> The entire syllabus can be mapped with the Courses in the given
              course time</li>
            <li><i class="ri-check-double-line"></i> Expands the achievement of students</li>
            <li><i class="ri-check-double-line"></i> Helps in analysing the course prerequisites and program
              requirements based on how the outcomes fit perfect</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <!-- <h2>Alignment With Bloom’s Taxonomy</h2> -->

  <div class="section-title">
    <h2>Alignment With Bloom’s Taxonomy</h2>
  </div>

  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row content">
        <div class="col-lg-6">
          <ul>

          <li><i class="ri-check-double-line"></i>Bloom’s Taxonomy is like a Bible to understand students’ mindsets.
          </li>
          <li><i class="ri-check-double-line"></i> You can understand the students’ behavior – their strengths, areas
            where they struggle, and of course their current performance in order to figure out strategies for better
            learning outcomes. Outcome based education assessment reports that go through the following funnel of
            Bloom’s Taxonomy checkpoints would be considered legit more than anything.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <img src="/static/img/Blooms.jpeg" class="img-fluid" alt="...">


  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
</body>

</html>