<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OBE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/obe.png" rel="icon">
  <!-- icon  -->

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">


  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
    id="bootstrap-css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <style>
    .widget-49 {
      text-align: center;
      padding-top: 20px;
    }

    .card-header {
      text-align: center;
    }
    #table1 {
        text-align: center;
        color:black;
        border: 2px solid black;
        width: 40%;
        height: 60%;
    }
    #table1 #select{
        background-color: rgb(231, 231, 231);
        width: 100px;
        height: 40px;
        border: 2px solid black;
        border-radius: 7px;
    }
    #table1 th,#table1 td{
        width: 100px;
        height: 40px;
        border: 2px solid black;
    }
    #btn{
      width: 150px;
    }
  </style>
</head>

<body>
  <header id="header" class="fixed-top " style="width: 100%;background-color:rgba(55,81,126, 0.9);">
    <div class="container d-flex align-items-center" style="width: 100%;">

      <h1 class="logo me-auto"><a href="/"  style="font-size: 40px;">SKMV</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar" >
        <ul>
          <li><a class="nav-link scrollto" href="/"  style="font-size: 20px;">Home</a></li>
          <li><a class="nav-link scrollto " href="/choice"  style="font-size: 20px;">Files</a></li>
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
  <br><br><br><br>

    <div class="row" style="margin: 15px;"><center>
      <h4>PO's of Year 2023 :</h4></center>
        <table  class="table table-striped table-bordered" style="width:100%" id="po">
            <thead>
                <tr>
                  <td style="width: 50px;">Sr</td>
                  <td>POs</td>
                </tr>
              </thead>
              <tbody>
            {% set pos=po | length %}
            {% for i in range (0,pos) %}
            <tr class='table-info'>
                <td>{{i+1}}</td>
                <td>{{po[i][1]}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
<div class="row" style="margin: 15px;">
    <div class="col-lg-6" ><center>
      <h4>CO's of Year 2023 :</h4></center>
        <table  class="table table-striped table-bordered" style="width:100%" id="co">
            <thead>
                <tr>
                  <td style="width: 50px;">Sr</td>
                  <td>COs</td>
                </tr>
              </thead>
            {% set cos=co | length %}
            {% for i in range (0,cos) %}
            <tr class='table-info' >
                <td>{{i+1}}</td>
                <td>{{co[i][1]}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <div class="col-lg-6" ><center>
      <h4>PSO's of Year 2023 :</h4></center>
        <table  class="table table-striped table-bordered" style="width:100%" id="pso">
            <thead>
                <tr>
                  <td style="width: 50px;">Sr</td>
                  <td>PSO</td>
                </tr>
              </thead>
            {% set psos=pso | length %}
            {% for i in range (0,psos) %}
            <tr class='table-info'>
                <td>{{i+1}}</td>
                <td>{{pso[i][1]}}</td>
            </tr >
            {% endfor %}
        </table>
    </div>
</div>
<center>
<h4>MATRIX:</h4></center>
<div class="container">
  <div class="row" >
  <center>
<div id="display" style="width:max-content;">

</div></center>
</div></div>


<center>
    <footer style="margin-top: 120px; margin-bottom: 66px">Copyright &#169; : All Rights Reserved</footer>
  </center>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
<script type="text/javascript" src="/static/js/yt.js"></script>
  <!-- Vendor JS Files -->
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
